# Database credentials
MYSQLHOST=your_database_host_here
MYSQLPORT=your_database_port_here
MYSQLUSER=your_database_user_here
MYSQLPASSWORD=your_database_password_here
MYSQLDATABASE=your_database_name_here

JWT_SECRET=your_jwt_secret_here